@model WebProgramalamaProje.Models.TownModel

@{
    Layout = "_LayoutAdmin";

    ViewData["Title"] = "Edit";
}


<form asp-action="Edit">

    <div class="content-header clearfix">
        <h1 class="float-left">
            Edit Town - @Model.Id
        </h1>
        <div class="float-right">
            <button type="submit" value="Save" class="btn btn-primary mt-3">Submit</button>
            <a class="btn btn-secondary mt-3" asp-controller="Town" asp-action="Index">Back to list</a>
        </div>
    </div>

    <input type="hidden" asp-for="Id" />

    <div class="card">
        <div class="card-body">

            <div class="form-group col-md-12">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Name">Name</label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Name" class="form-control" placeholder="Town Name">
                    </div>
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group col-md-12">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="City">City</label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="City" class="form-control" placeholder="City">
                    </div>
                </div>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div class="form-group col-md-12">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Country">Country</label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Country" class="form-control" placeholder="Country">
                    </div>
                </div>
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>

        </div>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
