################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebProgramalamaProje/.vs/WebProgramalamaProje/FileContentIndex/2d442a07-1b79-497a-a110-110a7cb48e0a.vsidx
/WebProgramalamaProje/.vs/WebProgramalamaProje/FileContentIndex/6f89f4d1-3b1f-40ba-81fd-551aed0a6fea.vsidx
/WebProgramalamaProje/.vs/WebProgramalamaProje/FileContentIndex/74237000-3a0a-4078-b818-55694deb07d3.vsidx
/WebProgramalamaProje/.vs/WebProgramalamaProje/FileContentIndex/78113708-3fa9-4c17-a5be-b38b7d727325.vsidx
/WebProgramalamaProje/.vs/WebProgramalamaProje/FileContentIndex/859af5b1-c0df-48fc-9080-b454734e2eb5.vsidx
/WebProgramalamaProje/.vs/WebProgramalamaProje/FileContentIndex/96923ad5-545f-497b-bcb8-de2013df616b.vsidx
