@model WebProgramalamaProje.Models.ClinicWorkTimesModel;
@using WebProgramalamaProje.Models.Enums;
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Create";
}

<form asp-action="Create" method="post">
    <input asp-for="ClinicId" hidden />

    <div class="content-header clearfix">
        <h1 class="float-left">
            Create Clinic Work Time - Clinic Id @Model.ClinicId
        </h1>
        <div class="float-right">
            <button type="submit" value="Save" class="btn btn-primary mt-3">Submit</button>
            <a class="btn btn-secondary mt-3" asp-controller="Clinic" asp-action="Edit" asp-route-id="@Model.ClinicId">Back to list</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="form-group col-md-12">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Day"></label>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control" asp-for="Day">
                            @{
                                List<Days> daysList = Enum.GetValues(typeof(Days))
                                .Cast<Days>()
                                .ToList();
                                for (int i = 0; i < daysList.Count; i++)
                                {
                                    <option value="@i">@daysList[i]</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <span asp-validation-for="Day" class="text-danger"></span>
            </div>

            <div class="form-group col-md-12">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="ShiftStart">Shift Start</label>
                    </div>
                    <div class="col-md-8">
                        <input type="time" asp-for="ShiftStart" class="form-control" value="10:05 AM" />
                    </div>
                </div>
            </div>

            <div class="form-group col-md-12">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="ShiftEnd">Shift End</label>
                    </div>
                    <div class="col-md-8">
                        <input type="time" asp-for="ShiftEnd" class="form-control" value="10:05 AM" />
                    </div>
                </div>
            </div>

        </div>
    </div>

</form>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}