@using WebProgramalamaProje.Models.Enums;
@using WebProgramalamaProje.Services;
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Delelte";
}

@model WebProgramalamaProje.Models.ClinicWorkTimesModel;

@{
    Layout = "_LayoutAdmin";

    ViewData["Title"] = "Delete";
}
<h1>Delete</h1>
<form asp-action="Delete" method="post">
    <div class="form-group">
        <label asp-for="Day">@Utils.GetDayAsString(@Model.Day)</label>
        <input asp-for="Day" class="form-control" readonly />
        
        <span asp-validation-for="Day" class="text-danger"></span>
    </div>
    <input asp-for="ClinicId" hidden/>
    <button type="submit" value="Save" class="btn btn-primary mt-3">Submit</button>
    <a class="btn btn-secondary mt-3" asp-controller="Clinic" asp-action="Edit" asp-route-id="@Model.ClinicId">
        Back to list
    </a>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}