@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Delelte";
}

@model WebProgramalamaProje.Models.ClinicModel;

@{
    Layout = "_LayoutAdmin";

    ViewData["Title"] = "Edit";
}
<h1>Delete</h1>
<form asp-action="Delete" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" readonly>
    </div>


    <button type="submit" value="Save" class="btn btn-primary mt-3">Submit</button>
    <a class="btn btn-secondary mt-3" asp-controller="Clinic" asp-action="Index">
        Back to list
    </a>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}