@model HospitalModel

<h1>Delete</h1>
<form asp-action="Delete" method="post">
    <div class="form-group">
        <label asp-for="Name">Hospital Name</label>
        <input asp-for="Name" class="form-control" readonly placeholder="Hospital Name">
        
    </div>

   
    <button type="submit" value="Save" class="btn btn-primary mt-3">Submit</button>
    <a class="btn btn-secondary mt-3" asp-controller="Hospital" asp-action="Index">
        Back to list
    </a>

</form>
